<div id="restore">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <span class="subheader">Why<br>Restore?</span>        
      </div> 
    </div>
</br>
</br>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <%= image_tag "go_green_2.png", class: "pull-right"%>
      </div>
      <div class="col-xs-7">
          <br>
          <br>
          <br>
          <span class="restore_sub">GO GREEN!</span>
          <br>
          Help the environment by recycling, choosing a
          <br>
          company that uses GREEN tactics, and contributing
          <br>
          to less pounds of landfill a year.
      </div>
    </div>

    </br>
    </br>

    <div class="row">
      <div class="col-xs-7" id="right_text">
        <br>
        <br>
        <br>
        <span class="restore_sub">SAVINGS</span>
        <br>
        Save anywhere from 30-70% than if you bought new. 
        <br>
      </div>
      <div class="col-xs-2">        
        <%= image_tag "savings_2.png"%>
      </div>
    </div>

    </br>
    </br>

    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <%= image_tag "customize_2.png", class: "pull-right"%>
      </div>
      <div class="col-xs-7">
          <br>
          <br>
          <br>
          <span class="restore_sub">CUSTOMIZE YOUR FURNITURE</span>
          <br>
          Get the latest looks on patio furniture by choosing
          <br>
          the top finishes, fabric, and colors.
      </div>
    </div>

    </br>
    </br>

    <div class="row">
      <div class="col-xs-7" id="right_text">
        <br>
        <br>
        <br>
        <span class="restore_sub">CASE-TO-CASE REPAIRS</span>
        <br>
        We are committed to helping you by working on
        <br>
        a case-to-case basis. Regardless of the type of repair,
        <br>
        We will advise what the best approach can be.
        <br>
      </div>
      <div class="col-xs-2">        
        <%= image_tag "repairs_2.png"%>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-xs-3 col-xs-offset-2">
        <%= image_tag "services_2.png", class: "pull-right"%>
      </div>
      <div class="col-xs-7">
          <br>
          <br>
          <br>
          <span class="restore_sub">BEST CUSTOMER SERVICE</span>
          <br>
          You will always speak directly to a representative assigned
          <br>
          to you that will answer all your questions and concerns.
      </div>
    </div>

    </br>
    </br>

    <div class="row">
      <div class="col-xs-7" id="right_text">
        <br>
        <br>
        <br>
        <br>
        <span class="restore_sub">PICK UP &amp; DELIVERY SERVICES</span>
        <br>
        Let us help make your job easier through our
        <br>
        pick-up and delivery services.
      </div>
      <div class="col-xs-2">
        <%= image_tag "delivery_2.png"%>
      </div>
    </div>

    </br>
    </br>

  </div>
</div>
