<div id="service">
  
  <div class="services" id="s2">
    <div id="s_title">
      <span class="s_bold"> OUR SERVICES </span>
      <br><br>
      Pick-Up and delivery is available for all services.
      <br>
      Turn-around time at an average of 3 weeks from the time of pick-up.
      <br><br>
      <hr>
    </div>
    
    <div id="s_resling">
      <span class="s_sub">RE-SLING</span>
      <br>
      <hr>
      <br><br>
      We will make a customized sling to fit perfectly <br> on your exisiting piece of furniture.
      <br>
      <br>
      <%= link_to resling_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>
  
  <div class="services" id="s3">
    <div id="s_restrap">
      <span class="s_sub">RE-STRAP</span>
      <br>
      <hr>
      <br><br>
      Replace the old vinyl on your furniture by
      <br>
      choosing from a wide variety of colors.
      <br>
      <br>
      <%= link_to restrap_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>
  
  <div class="services" id="s4">
    <div id="s_sand">
      <span class="s_sub">SANDBLAST &amp; <br> POWDERCOAT </span>
        <hr>
        <br>
        <br>
        We can sandblast &amp; powdercoat almost
        <br>
        any item made of metal
        <br>
        <br>
        <%= link_to sandblast_and_powdercoat_path do %>
          <%= image_tag 'more_btn.png' %>
        <% end %>
    </div>
  </div>
  
  <div class="services"  id="s5">
    <div id="s_cushion">
      <span class="s_sub">CUSHIONS</span>
      <br>
      <hr>
      <br><br>
      Cushions will transform your patio furniture
      <br>
      experience by bringing you comfort and edge.
      <br>
      <br>
      <%= link_to cushion_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>
  
  <div class="services" id="s6">
    <div id="s_umbrella">
      <span class="s_sub">UMBRELLA REPAIRS</span>
      <br>
      <hr>
      <br><br>
      Umbrella repairs consist of replacing parts, creating
      <br>
      customized umbrella covers with Sunbrella fabrics and <br>
      strip &amp; powdercoating umbrella bases.
      <br>
      <br>
      <%= link_to umbrella_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>
  
  <div class="services" id="s7">
    <div id="s_table">
      <span class="s_sub">TABLES</span>
      <br>
      <hr>
      <br><br>
      Refinish your table by replacing the tabletop  
      <br>
      and sandblast &amp; powdercoat.
      <br>
      <br>
      <%= link_to table_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>
  
  <div class="services" id="s8">
    <div id="s_misc">
      <span class="s_sub">MISCELLANEOUS REPAIRS<br>SERVICES &amp; PRODUCTS</span>
      <br><br>
      <%= link_to misc_and_repairs_path do %>
        <%= image_tag 'more_btn.png' %>
      <% end %>
    </div>
  </div>

</div>