<div id="swatch_book">
  <div class="container">
    <br>
    <br>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to swatch_snp_path do %>
          <%= image_tag 'strip_n_powdercoat.png' %>
          <br>
          Strip and PowderCoat
        <% end %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to swatch_fabric_path do %>
          <%= image_tag 'cushion.png' %>
          <br>
          Fabrics
        <% end %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to swatch_vinyl_path do %>
          <%= image_tag 'vinyl_swatch.jpeg' %>
          <br>
          Vinyl
        <% end %>
      </div>
    </div>
  </div>
</div>